<% provide(:title, 'URL短縮結果') %>
<h1>Url短縮結果</h1>

<p>短縮されたURLはhttps:~</p>
<%= short_url("https://qiita.com/") %><br>

<%= short_url(request.url) %><br>
<%= short_url("https://qiita.com/Lusaca/items/dcb75644c630b72f56f7") %>


 <p>元のURL</p>
<%= Shortener::ShortenedUrl.generate("http://example.com") %>
