<% provide(:title, 'URL短縮結果') %>
<h1>URL短縮結果</h1>

<h3>短縮後URL:
<%= link_to short_url(@web_url.original_url), short_url(@web_url.original_url) %></h3><br>
<h4>短縮前のURL:
<%= @web_url.original_url %></h4><br>
